<html>
<head>
  <title>Mon Chat</title>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
  <div>
    <h1>Hello,</h1>
    <p>Welcome to the chat</p>

    <input type="text" placeholder="Write here" />
    <button>Send</button>

    <ul></ul>
    <script>
      var socket = io();

      function send() {
        var _v = $('input').val();
        socket.emit('send', _v);
      }
      $(function(){
        $('button').click(send);
      });

      document.addEventListener('keyup', function(ev) {
        if (ev.keyCode === 13) send();
      });

      socket.on('receive', function (msg) {
        $('ul').prepend('<li>' + msg + '</li>');
      })
    </script>
  </div>
</body>
